body {
  background-color: #fff;
}

.top-buffer {
  margin:20px 20px 20px;
  padding: 2em 2em 2em;
  height: 85vh;
}

/*form{
	margin: 2em 2em 2em;
}*/

#playlist_results{
	font-size: small;
	margin-left: 10px;
}

#player{
	margin-left: 10px;
}

/*.spotifyblack_background{
	background-color: #282828
}*/

/*.white_text{
	color: white;
}*/

/*
div.shadow {
	border: 0px solid #ccc;
	border-radius:1em;
	}

div.shadow:hover {
	-moz-box-shadow: 0 0 2em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 2em rgba(0, 0, 0, .5);
	box-shadow: 0 0 2em rgba(0, 0, 0, .5);
	}

*/

#circle {
	width: 60px;
	height: 60px;
	background: #FFBBF1;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 30px;
	margin: 1em;
}

#square {
	width: 60px;
	height: 60px;
	background: #A2FFFC;
	margin: 1em;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid #5FB2B0;
	margin:1em;
}
