body {
  background-color: #fff;
}

.list-group-item {
  font-size: 16px;
}

button.btn.btn-md.btn-danger.delete-button {
  float: right;
}

#searchsubmit{
  background-color: #8BD5CB;
  border-color: #8BD5CB;
}

#searchsubmit:hover {
    background-color: #5296ad;
}

#graphsubmit{
  background-color: #8BD5CB;
  border-color: #8BD5CB;
}

#graphsubmit:hover {
    background-color: #5296ad;
}

#searchhelp{
  background-color: #F6CE50;
  border-color: #F6CE50;
  float: right;
  margin-left: 10px;
  margin-right: 10;
}

#searchhelp:hover {
    background-color: #f3bb0c;
}

#back-to-settings{
  background-color: #D86A9F;
  border-color: #D86A9F;
}

#back-to-settings:hover {
  background-color: #ca357d;
}

#back-to-graph{
  background-color: #D86A9F;
  border-color: #D86A9F;
}

#back-to-graph:hover {
  background-color: #ca357d;
}

.btn-danger{
  background-color: #D86A9F !important;
  border-color: #D86A9F !important;
}

.btn-danger:hover {
  background-color: #ca357d !important;
}

.description-settings {
  font-size: 22px;
  margin-bottom: 50px;
}

.description-graph {
  font-size: 22px;
  margin-bottom: 0px;
}

.top-buffer {
  margin:20px 20px 20px;
  /*padding: 2em 2em 2em;*/
  /*height: 85vh;*/
}

div.row h2{
	margin: 1em 0px 1em;
	font-size: 36px;
	text-transform: uppercase;
}

/*form{
	margin: 2em 2em 2em;
}*/
#artist{
  height: 46px;
  line-height: 48px;
  font-size: 24px;
  vertical-align: middle;
}

#metric-label {
  font-size: 24px;
  float: left;
}

label {
  font-size: 20px;
}

#playlist_results{
	font-size: small;
	margin-left: 10px;
}

#player{
	margin-left: 10px;
}

/*.spotifyblack_background{
	background-color: #282828
}*/

/*.white_text{
	color: white;
}*/

/*
div.shadow {
	border: 0px solid #ccc;
	border-radius:1em;
	}

div.shadow:hover {
	-moz-box-shadow: 0 0 2em rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 2em rgba(0, 0, 0, .5);
	box-shadow: 0 0 2em rgba(0, 0, 0, .5);
	}

*/
#header{
	width:100%;
	height: auto;
	background-size: 100% auto !important
}

#errorMsg {
    position: fixed;
    top: 0%;
    left: 50%;
/*    margin-left: -150px;
    width: 300px;*/
    z-index: 9999;
}

#errorMsg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
/*#errorMsg {
    margin: 0 auto;
}*/

.btn.btn-primary.button_back{
  position: relative;
  float: right;
}

#retrieve-playlist {
  margin-left: 10px;
  margin-right: 10px;
  background: rgb(139, 213, 203);
  color: white;
}

#save-playlist {
  margin-left: 10px;
  margin-right: 10px;
  background: rgb(139, 213, 203);
  color: white;
}


#graphsubmit {
  width: 80%;
  margin: 0 auto;
}

#graph-page{
	padding-bottom: 5em;
}

#circle {
	width: 60px;
	height: 60px;
	background: #FFBBF1;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 30px;
	margin: 1em;
}

#square {
	width: 60px;
	height: 60px;
	background: #A2FFFC;
	margin: 1em;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid #5FB2B0;
	margin:1em;
}

/*Jquery-UI css*/
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  min-height: 50px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all:hover {
  color: #333333;
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all:active {
  color: #333333;
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-autocomplete {
  vertical-align: middle;
}

.ui-autocomplete .ui-menu-item {
  vertical-align: middle;
  border-bottom: 1px solid #eeeeee;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-icon {
  vertical-align: middle;
  padding-left: 1em;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-icon i {
  display: inline-block;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  vertical-align: bottom;
  color: #27ae60;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-artist {
  font-weight: bold;
  font-size: 1.2em;
  height: 55px;
  line-height: 55px;
  padding-left: 0.6em;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-album-name {
  font-size: 1.2em;
  height: 55px;
  line-height: 55px;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-divider {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.ui-autocomplete .ui-menu-item .ui-autocomplete-divider i {
  font-size: 0.7em;
}

.ui-helper-hidden-accessible{
	display: none;
}
